*{
    margin: 0;
    padding: 0;
}

:root{
    --blue: #173D87;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #35424B;
}

@media screen and (max-width: 1300px) {
    header{
       padding: 1em;
    }
    
    #nav-gs{
        display:none;
    }

    main{
        margin:20px;
        padding-top: 40px;
        text-align: center;
    }
    main h1{
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 10px;
        text-align: left;
    }
    main p{
        font-size: 15px;
        padding-bottom: 30px;
        text-align: left;
    }
    main button{
        background-color: var(--blue);
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        border: none;
        border-radius: 20px;
 
    }
    
    main img {
        width: 70%;
        margin: auto;
        padding: 30px;
    }

    .process{
        padding: 20px;
        text-align: center;
    }

    .process img{
        width: 100%;
        padding: 50px 0;
    }

   .process span{
    font-weight: 500;
    color: #0b0d0f;
    display: block;
    margin-bottom: 10px;
   }

    .process h1 {
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 20px;
    }

     section  .head{
        padding-bottom: 50px;

    }

    .process p{
        font-size: 15px;
        padding-bottom: 30px;
    }

    .process button{
        background-color: var(--blue);
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        border: none;
        border-radius: 20px;
    }

    .testimonials {
        text-align: center;
        padding: 30px;
    }

    .hide{
        display: none;
    }

 

    .show{
        display: block;
    }



    .avatar {
        display:block;
        margin: 30px auto;
        text-transform: center;
        width: 25%; 
        border-radius: 200px;  
    }
    .logo{
        width: 30%;
        padding-bottom: 30px;
    }
    .testimonials p{
        font-size: 15px;
        padding: 1em;
        padding-bottom: 30px;
    }

    .testimonials h2{
        font-size:15px;
        padding-bottom: 1em;
    }


    .arrows{
        display: flex;
        justify-content: space-between;
        margin-top: -250px;
        margin-bottom: 300px;
        padding: 1em;
    }
    .arrows button{
        background: transparent;
        border: none;
       
    }

    i.fa-solid.fa-angle-left{
        color: black;
        font-size: 40px;
    }
    i.fa-solid.fa-chevron-right{
        color: black;
        font-size: 40px;
    }

    footer{
        background: linear-gradient(white, rgb(194, 194, 209))
    }

    .ready{
        margin: 50px;
        text-align: center
    }


    .ready h1{
        font-weight: 400;
        font-size: 25px;
        padding-bottom: 20px;
    }
    .ready p{
        font-size: 15px;
        padding-bottom: 30px;
    }
    .ready button{
        background-color: var(--blue);
        padding: 10px 20px;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        border: none;
        border-radius: 20px;
    }
    .footer1{
        background-color: white;   
        
    }
    
    .footer1 h1{
        font-weight: 400;
        font-size: 25px;
        padding: 1em;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;    
    }

    .footer1 h1{
        cursor: pointer;
    }

    i.fa-solid.fa-chevron-up{
        font-size: 15px;
        display: none;
    }
    i.fa-solid.fa-chevron-down{
        font-size: 15px;
   
    }
    .footer1 ul{
        padding: 1.5em;
        padding-left: 2em;
        display: none;
    }
    .footer1 ul li{
        list-style: none;
        padding: 10px;
    }   
    .footer1 ul li:hover{
        cursor: pointer;
        color: blue;
    }
    .footer1 div{
        margin-bottom: 20px;
    }

   
}
